.parentPQ{
    background-color: rgb(68, 68, 68);
    width: 100%;
    padding-bottom: 5.3vw;
    padding-top: 3vw;
}

.PQlistdiv{
    margin-left: 35%;
    margin-right: 35%;
    background-color: rgb(45, 45, 45);
    border-radius: 1vw;
    padding: 2vw;
    padding-top: 1vw;
    color: white;
}

.quebtn{
    width: 100px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    background-color: navy;
    margin: 1vw;
    cursor: pointer;
    color: white;
}

.quebtn:hover{
    width: 100px;
    height: 40px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 20px;
    border: none;
    background-color: rgb(0, 0, 177);
    margin: 1vw;
    cursor: pointer;
    color: whitesmoke;
}